.acm-gearbox-copy-button {
	position:	fixed;
	bottom:		50px;
	right:		50px;
	width:		50px;
	cursor:		pointer;
	z-index:	9999;
	transition:	all .3s;
}

.acm-gearbox-copy-button:hover {
	filter: invert(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
}